.button{
    color: #fff;
    font-size: 16px;
    padding: 13px 34px;
    background: -moz-linear-gradient(left, #9552ED 0%, #00D1F4 100%);   
    background: -webkit-linear-gradient(left, #9552ED 0%, #00D1F4 100%);   
    border-radius: 28.5px;
    display: inline-block;
    margin-top: 70px;

}