
.ranking {
    margin-top: 94px;
    margin-bottom: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .top {
        .title {
            display: inline-block;
            font-size: 46px;
            margin-bottom: 30px;
            span {
                color: #00D1F4;
            }
        }
        .icon {
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            height: 62px;
            width: 111px;
            background: url('./img/Group@2x.png')
        }
    }
    .paragraph {
        width: 875px;
    }
    .players{
        text-align: center;
    }
    .playercard {
        display: inline-block;
        margin: 75px;
        width: 280px;
        height: 382px;
        border-radius: 8px;
        background: #192C4E; // padding: 16px;
        .playeritem {
            margin: 16px;
            position: relative;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            .index {
                color: #fff;
                opacity: .2;
                font-size: 100px;
                position: absolute;
                right: -20px;
                top: -52px;
            }
            .img {
                width: 247px;
                height: 247px;
                opacity: .6;
            }
            .enname {
                color: #F3366B;
                font-size: 16px;
                margin-top: 4px;
                margin-bottom: 4px;
                text-align: left;

            }
            .name {
                font-size: 20px;
                text-align: left;
                margin-bottom: 0;

            }
            .triangle-up {
                right: 5px;
                padding-top: 13px;
                position: absolute;
                float: right;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 8px solid #3DC47E; // background-color: $mask-color;
            }
            .triangle-down {
                right: 5px;
                bottom: 40px;
                position: absolute;
                float: right;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 8px solid #FF4F52; // background-color: $mask-color;
            }
            .player-index {
                // font-size: 26px;
                // float: right;
                // margin-right: 38px;
            }
            .player-index.green {
                color: #3DC47E;
                font-size: 26px;
                float: right;
                margin-right: 38px;
                font-weight:300;
        
            }
            .player-index.red {
                color: #FF4F52;
                font-size: 26px;
                float: right;
                margin-right: 38px;
                font-weight:300;
           
            }
        }
    }
    .ant-pagination-item-link{
        background: none;
        opacity: .3;
    }
    .ant-pagination-item{
        background: none;
        opacity: .3;
    }
}